# Configuration file for ImageJ plugin "Plugin_Template".
# "Plugin_Template"  is the name of the template and should be updated 
# according to plugin name. Remember that ImageJ plugin names should contain 
# an underscore character ("_").
#
# Syntax for plugins.config file:
# * Comments starts with #
# * Each entry is menuname, "Command text", classname

Plugins>Demo, "Demo Plugin", net.ijt.DemoPlugin
